.Footer {
    text-align: left;
    background: #202020;
}

.Footer__content {
    color: #858585;
    padding-top: 20px;
    padding-bottom: 20px;
}

.Footer__content a,
.Footer__content a:visited {
    color: #797979;
}

.Footer__content a:hover {
    color: #b1b1b1;
}

.Footer__icons img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}