.Content {
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px;
    opacity: 1;
    background: #ffffff;
}

.Content__banner {
    font-family: 'Roboto', sans-serif;
    padding-right: 60px;
    width: 50%;
}

.Content__banner h1 {
    font-size: 32px;
    font-weight: 600;
    color: #333333;
}

.Content__details {
    font-family: 'Roboto', sans-serif;
    width: 50%;
}

.Content__details h2 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #333333;
}

.Content__notes {
    font-family: 'Roboto', sans-serif;
    color: #6c7279;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 28px;
}