.HeroUnit {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* 
    background: url(/assets/images/benjamin-voros-250200.jpg);
    */
    background-image: url('https://placekitten.com/1000/600?image=2');
    background-size: cover;
    height: 500px;
    width: 100vw;
    ;
}

.HeroUnit__transparency {
    position: absolute;
    top: 0;
    left: 0;
    background: #272727;
    opacity: .8;
    height: 500px;
    width: 100vw;
    ;
}